
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    color: crimson;
    background: linear-gradient(to right, blue, rgb(158, 158, 212));
    text-shadow: 0 3px 1px black;
    margin-bottom: 7px;
    position: relative;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logout-admin{
    font-weight: 600;
    text-shadow: none;
    padding: 9px;
    border: 2px solid crimson;
    border-radius: 7px;
    background-color: aquamarine;
    text-decoration: none;
    color: crimson;
}

.logout-admin:hover{
    cursor: pointer;
    background-color: rgb(44, 157, 120);
}


table{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #444;
    background: linear-gradient(to left, rgb(236, 198, 198), rgb(183, 180, 180));
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 7px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

tr {
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #e0e0e0;
}

td, th {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #ff4d00;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.action-style{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.action-style select{
    font-size: 1rem;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid crimson;
    cursor: pointer;
}

.action-style input{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    border: 2px solid crimson;
}

.action-style button{
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 7px;
    border: 2px solid rgb(163, 253, 27);
    background-color: rgb(41, 246, 41);
    cursor: pointer;
}